<h1>Thanks for wishing your friend a happy birthday! Wishes:</h1>
<table>
	<thead>
		<tr>
			<th>Author</th>
			<th>Message</th>
		</tr>
	</thead>
	<tbody>
		<% @wishes.each do |wish| %>
		<tr>
			<td><%= wish.author %> </td>
			<td><%= wish.message %></td>
			<td><%= wish.birthday.name %></td>
		</tr>
		<% end %>
	</tbody>
</table>
