<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Birthday Wish</title>
</head>
<body>
	Hey, 

	Someone on GroupWish thought you'd like to wish <%= @name %> a happy birthday, which is coming up on <%= @day %>! Please fill out your message and name below!

	<textarea name="message"></textarea>
	<input type="text" name="author">

	Thanks, 
	The GroupWish Team
</body>
</html>