/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *
 *
 */

@import url(http://fonts.googleapis.com/css?family=Lato:700,400italic,700italic);
@import 'bootstrap';
/*@import 'birthday_style';*/

body {
  font: 16px/1.3 normal 'Lato', helvetica;
  background-color: #4ABD9B;
  margin: 0;
}

header {
  background-color: rgba(255,255,255,0.6);
  padding-bottom: 20px;
  margin-bottom: 30px;
  text-align: center;
  transition: background-color 0.2s;
  -webkit-transition: background-color 0.2s;
}

header:hover {
  background-color: rgba(255,255,255,0.8);
}

.center {
  margin-bottom: 0 auto 30px auto;
  text-align: center;
}

.birthday-person {
  height: 444px;
  width: 444px;
  position: relative;
  border-radius: 500px;
  cursor: pointer;
  border: 4pt solid white;
  margin: 0 auto 30px auto;
}

.birthday-person > .overlay {
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background-color: rgba(0,0,0,0.7);
  border-radius: 500px;
  opacity: 0;
  transition: opacity 0.2s;
  -webkit-transition: opacity 0.2s;
  z-index: 1;
}

.birthday-person > .text {
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  top: 40%;
  font-size: 40px;
  text-align: center;
  color: white;
  opacity: 0;
  z-index: 2;
}

.birthday-person:hover > .overlay {
  opacity: 1;
}

.birthday-person:hover > .text {
  opacity: 1;
}

.birthday-person img {
  width: 100%;
  height: 100%;
  border-radius: 500px;
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
}

.person-logo {
  position: fixed;
  width: 50px; height: 50px;
  bottom: 30px; left: 30px;
}

.bg-img {
  position: fixed; left: 0; top: 0;
  min-width: 100%; min-height: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  width: auto; height: auto; z-index: -100;
}

.birthday-box {
  width: 50%;
  margin: 50px auto;
  background-color: white;
  border-radius: 20px;
  padding: 20px;
}

/*.bg-img {
  background-image: url(/birthdays/images/people/zack-beach.png);
}*/

.carousel-container {
  position: absolute;
  bottom: 30px;
  right: 30px;
  width: 50%;
}

.carousel-control.right, .carousel-control.left {
  background-image: none;
}

.carousel-inner {
  width: 60%;
  margin-left: 20%;
  background-color: rgba(0,0,0,0.4);
}

.comment {
  font-size: 20px;
}
.author {
  text-align: right;
}
.item {
  height: 200px;
  overflow-y: scroll;
  padding: 8px;
  -webkit-transition: 0.4s ease-in-out left;
  -moz-transition: 0.4s ease-in-out left;
  -o-transition: 0.4s ease-in-out left;
  transition: 0.4s ease-in-out left;
}
.show_birthday .text {
  margin-left: 40px;
  margin-top: 50px;
}
.header {
  font-size: 60px;
  margin-bottom: 20px;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.date {
  font-size: 30px;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
