// Place all the styles related to the birthdays controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.birthday-box {
	width: 50%;
	margin: 50px auto;
	background-color: white;
	border-radius: 20px;
	padding: 20px;
}