// Place all the styles related to the birthdays controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.birthday-box {
	width: 50%;
	margin: 50px auto;
	background-color: white;
	border-radius: 20px;
	padding: 20px;
}

/*.bg-img {
  background-image: url(/birthdays/images/people/zack-beach.png);
}*/

.carousel-container {
  position: absolute;
  bottom: 30px;
  right: 30px;
  width: 50%;
}

.carousel-control.right, .carousel-control.left {
  background-image: none;
}

.carousel-inner {
  width: 60%;
  margin-left: 20%;
}

.comment {
  font-size: 20px;
}
.author {
  text-align: right;
}
.item {
  height: 200px;
  overflow-y: scroll;
  padding: 8px;
  -webkit-transition: 0.4s ease-in-out left;
  -moz-transition: 0.4s ease-in-out left;
  -o-transition: 0.4s ease-in-out left;
  transition: 0.4s ease-in-out left;
}
.show_birthday .text {
  margin-left: 40px;
  margin-top: 50px;
}
.header {
  font-size: 60px;
  margin-bottom: 20px;
}
.date {
  font-size: 30px;
}