<!-- NOTE: Opening this file in Chrome WILL NOT WORK.
To make changes, please follow the directions in README.md -->

<!-- "col-md-6 col-lg-offset-1 col-lg-5" -->
<% @birthdays.each do |birthday| %>
<div class=<%= @column %>>
<!-- <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6"> -->
  
  <a href=<%= "/birthdays/#{birthday.id}" %>>
    <div class="birthday-person">
      <%= image_tag birthday.profile.url %>
      <div class="overlay"></div>
      <div class="text"><%= birthday.name.upcase %></div>
    </div>
  </a>

</div>  
<% end %>
 